.area {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;

  .describeConsultant {
    border-bottom: 1px solid var(--light_color);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
    }
    label,
    input {
      display: inline-block;
      margin: 1rem 0;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border: 1px solid var(--light_color);
    }
    label {
      color: var(--dark_color);
      width: 30vw;
      text-align: center;
    }

    input {
      width: 60vw;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid gray;
    }
    textarea {
      width: 60vw;
      height: 100px;
      border-radius: 10px;
      padding: 5px;
      outline: none;
      border: 1px solid gray;
      resize: none;
    }
    .btnSave {
      margin: auto;
    }
    button {
      margin: 20px 0;
      padding: 5px;
      border-radius: 10px;
      font-size: 1rem;
      color: var(--dark_color);
      outline: none;
      border: 1px solid var(--dark_color);
    }
  }
  .offres {
    border-bottom: 1px solid var(--light_color);
    padding: 10px 0;

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        border-radius: 10px;
        color: var(--dark_color);
        border: 1px solid var(--dark_color);
        display: inline;
        padding: 5px;
        font-size: 1rem;
      }
      h2 {
        margin: 15px 0;
        display: inline-block;
      }
    }
  }
}
